*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
}

.container{
    width: 1280px;
    margin: 0 auto;
}

.navigation{
    margin-top: 63px;
    margin-bottom: 50px;
}

.nav-title{
    font-size: 80px;
    margin-bottom: 38px;
}
.nav-title span{
color: aqua;
}
.nav-menu{
    list-style: none;
    background-color: #35444F;
    text-align: center;
}
.nav-menu-item{
   display: inline-block;
   padding: 23px 33px;
   border-left: 1px solid white;
   transition: 0.5s;
}
.nav-menu-item:hover{
background-color: aqua;
}

.nav-menu-link{
text-decoration: none;
color: white;
font-size: 24px;
}
.list{
    display: inline-block;
    border: 2px solid black;
    list-style: none;
}
.list-item{
    padding: 20px;
}


